
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    text-align:center;
    background-position:center;
    background-size:cover;


}

canvas{
    box-shadow:10px 10px 10px grey;
    border-radius: 10px;
    margin-top:60px;
}

a{
    font-size:20px !important;
    margin:5px;
    background: black;
    cursor:pointer;
    color:white;
    text-align:center;
}

a:hover{
    color:darkcyan !important;

}
